@page
@model Ragnarok_Mobile_Website.Views.Equipments.DeleteModel

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Equipment</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.WeaponName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.WeaponName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.WeaponRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.WeaponRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.WeaponCard1)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.WeaponCard1)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.WeaponCard2)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.WeaponCard2)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ShieldName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ShieldName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ShieldRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ShieldRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ShieldCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ShieldCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ArmorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ArmorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ArmorRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ArmorRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ArmorCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ArmorCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ManteauName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ManteauName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ManteauRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ManteauRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.ManteauCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.ManteauCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.LeftAccessoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.LeftAccessoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.LeftAccessoryRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.LeftAccessoryRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.LeftAccessoryCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.LeftAccessoryCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.RightAccessoryName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.RightAccessoryName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.RightAccessoryRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.RightAccessoryRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.RightAccessoryCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.RightAccessoryCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.HeadgearName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.HeadgearName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.HeadgearRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.HeadgearRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.HeadgearCard)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.HeadgearCard)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.FaceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.FaceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.FaceRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.FaceRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.MouthName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.MouthName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.MouthRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.MouthRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.BackName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.BackName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.BackRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.BackRefine)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.TailName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.TailName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Equipment.TailRefine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Equipment.TailRefine)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Equipment.CharacterId" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
