@page
@model Ragnarok_Mobile_Website.Views.Guilds.IndexModel

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Guild[0].GuildName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Guild) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GuildName)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.GuildId">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.GuildId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.GuildId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
